@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso University";
}
<section style="width:80%;margin-left:auto;margin-right:auto;">
<h1 style="text-align:center;" class="display-3">Contoso University<br />Home of the Condors</h1>
    <img src="images/college-5757815_1280.jpg" alt="College" style="max-height:200px;"/>
    <img src="images/library-869061_1280.jpg" alt="Library" style="max-height:200px;" />
    <img src="images/mansion-4751778_1280.jpg" alt="Residences" style="max-height:200px;" />
</section>